################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BookNestVilas
/.vs/BookingAppliation/CopilotIndices/17.14.1691.21253
/.vs
/BookNestVilas/.vs/BookNestVilas
/BookNestVilas/BookNestVilasAPI/obj
